/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_extend.sass */
.wave, .header, .flo, .say, .p1, .p2, .p3, .p4, .shadow, nav, nav a, .pict-b, .pict-b0, .pict-b1, .pict-b2, #logo, .page1, .page2, .pict-x, .nav2, .nav2 a {
  display: block;
}

/* line 128, pict/*.png */
.pict-sprite, .pict-b, .pict-b0, .pict-b1, .pict-b2, .pict-blue, .pict-diamond, .pict-ellow, .pict-icon, .pict-t1, .pict-t2, .pict-x {
  background-image: url('../images/pict-sad9f6f18da.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.pict-b {
  background-position: 0 0;
  height: 103px;
  width: 229px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.pict-b0 {
  background-position: 0 -103px;
  height: 35px;
  width: 145px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.pict-b1 {
  background-position: 0 -138px;
  height: 34px;
  width: 180px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.pict-b2 {
  background-position: 0 -172px;
  height: 34px;
  width: 180px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.pict-blue {
  background-position: 0 -206px;
  height: 42px;
  width: 51px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.pict-diamond {
  background-position: 0 -248px;
  height: 38px;
  width: 52px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.pict-ellow {
  background-position: 0 -286px;
  height: 53px;
  width: 52px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.pict-icon {
  background-position: 0 -339px;
  height: 78px;
  width: 89px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.pict-t1 {
  background-position: 0 -417px;
  height: 65px;
  width: 294px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.pict-t2 {
  background-position: 0 -482px;
  height: 65px;
  width: 293px;
}

/* line 84, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.pict-x {
  background-position: 0 -547px;
  height: 76px;
  width: 76px;
}

/* line 1, ../sass/_index.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_index.sass */
html, body {
  font-family: myFont, Microsoft JhengHei, PMingLiU, AppleGothic, Dotum, Lucida Grande, Verdana Sans-serif;
  font-size: 12pt;
  line-height: 1.6em;
}

/* line 11, ../sass/_index.sass */
a {
  text-decoration: none;
  outline: none;
  /* for Firefox Google Chrome  */
  behavior: expression(this.onFocus=this.blur());
  /* for IE */
}

/* line 18, ../sass/_index.sass */
body {
  position: relative;
  min-width: 1024px;
  background: url("../images/bg.jpg");
  background-attachment: fixed;
}
/* line 24, ../sass/_index.sass */
body .page1, body .page2 {
  min-width: inherit;
  width: 100%;
}

/* line 28, ../sass/_index.sass */
.wave {
  background: url("../images/wave.png") center no-repeat;
  height: 900px;
  overflow: hidden;
  width: 100%;
  margin-left: -400px;
  position: absolute;
  z-index: 1;
  -webkit-animation-name: LRLR;
  animation-name: LRLR;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}

/* line 37, ../sass/_index.sass */
.header {
  background: url("../images/header.png") no-repeat;
  width: 588px;
  height: 317px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin: 70px 0 0 -510px;
  z-index: 5;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 750ms;
  animation-duration: 750ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}

/* line 45, ../sass/_index.sass */
.flo {
  background: url("../images/flo.png") no-repeat;
  width: 744px;
  height: 693px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin: 69px 0 0 -632px;
  z-index: 2;
}

/* line 52, ../sass/_index.sass */
.say {
  background: url("../images/say.png") no-repeat;
  width: 470px;
  height: 138px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin: 412px 0 0 -450px;
  z-index: 5;
}

/* line 59, ../sass/_index.sass */
.p1 {
  background: url("../images/p1.png") no-repeat;
  width: 635px;
  height: 971px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin: -42px 0 0 -107px;
  z-index: 3;
}

/* line 66, ../sass/_index.sass */
.p2 {
  background: url("../images/p2.png") no-repeat;
  width: 359px;
  height: 284px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin: 31px 0 0 269px;
  z-index: 3;
  -webkit-animation-name: UDUD;
  animation-name: UDUD;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}

/* line 74, ../sass/_index.sass */
.p3 {
  background: url("../images/p3.png") no-repeat;
  width: 184px;
  height: 400px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin: 540px 0 0 331px;
  z-index: 3;
}

/* line 81, ../sass/_index.sass */
.p4 {
  background: url("../images/p4.png") no-repeat;
  width: 302px;
  height: 274px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin: 429px 0 0 -151px;
  z-index: 3;
}

.ppp {
  width: 100%;
  height: 900px;
  overflow: hidden;
  position: absolute;
}

/* line 88, ../sass/_index.sass */
.shadow {
  background: url("../images/shadow.png") no-repeat;
  width: 953px;
  height: 852px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin: 90px 0 0 -130px;
  z-index: 2;
}

/* line 95, ../sass/_index.sass */
nav {
  position: absolute;
  left: 50%;
  right: 50%;
  width: 552px;
  height: 310px;
  background: rgba(102, 51, 51, 0.5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 393px 0 0 -492px;
  z-index: 4;
}
/* line 104, ../sass/_index.sass */
nav a {
  cursor: pointer;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  float: left;
  margin: 180px 0 0 38px;
}
/* line 55, ../sass/_mixin.sass */
nav a:hover {
  -webkit-animation-name: gelatine;
  animation-name: gelatine;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}
/* line 107, ../sass/_index.sass */
nav a:nth-child(1) {
  margin-right: -8px;
}

/* line 113, ../sass/_index.sass */
.pict-b1, .pict-b2 {
  margin: 30px 0 0 25px;
}

/* line 116, ../sass/_index.sass */
.contents {
  background: url("../images/bg.jpg") center no-repeat;
  height: 900px;
  overflow: hidden;
}

/* line 119, ../sass/_index.sass */
#logo {
  background: url("../images/logo.png") no-repeat;
  width: 246px;
  height: 121px;
  overflow: hidden;
  text-align: left;
  position: absolute;
  z-index: 6;
}

/* line 1, ../sass/_footer.sass */
footer {
  width: 100%;
  float: left;
}

/* line 4, ../sass/_footer.sass */
.footer {
  width: 990px;
  margin: 0 auto;
}

/* line 8, ../sass/_footer.sass */
.black {
  background-position: 0px 0px;
  color: #FFF;
}

/* line 11, ../sass/_footer.sass */
.white {
  background-position: 0px -80px;
  color: #000;
}

/* line 15, ../sass/_footer.sass */
.level {
  background: url("http://event.goldengame.com.tw/adv/footer/level_icon.png") center top;
  width: 45px;
  height: 45px;
  margin-top: 15px;
  float: left;
}

/* line 22, ../sass/_footer.sass */
.icon15 {
  background-position: -135px 0px;
}

/* line 25, ../sass/_footer.sass */
.footerBar {
  z-index: 5;
  position: relative;
  bottom: 0;
  padding: 8px 0;
  background: #73bec0;
}

/* line 32, ../sass/_footer.sass */
#iframe {
  padding: 2px 0 0 0;
  float: left;
}

/* line 35, ../sass/_footer.sass */
#iframe iframe {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

/* line 1, ../sass/_page.sass */
.page1, .page2 {
  background: rgba(255, 255, 255, 0.3);
}

/* line 5, ../sass/_page.sass */
.pict-x {
  cursor: pointer;
  margin: -5% 0 0 90%;
  z-index: 5;
}

/* line 11, ../sass/_page.sass */
article {
  background: rgba(255, 255, 255, 0.8);
  padding-top: 20px;
  width: 80%;
  margin: auto;
}
/* line 16, ../sass/_page.sass */
article header {
  position: relative;
  left: 40%;
}
/* line 20, ../sass/_page.sass */
article section {
  padding: 30px;
  padding-bottom: 120px;
  color: #663300;
  width: 100%;
  min-width: 600px;
  left: 50%;
  right: 50%;
  overflow: visible;
  font-size: 1.2em;
  line-height: 1.8em;
}
/* line 32, ../sass/_page.sass */
article section > strong {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #cc6600;
  color: #fff;
  font-weight: bold;
  padding: 0 15px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin-top: 15px;
}
/* line 40, ../sass/_page.sass */
article section .red {
  color: red;
}

/* line 44, ../sass/_page.sass */
table {
  margin: 10px auto 30px auto;
  font-size: 0.9em;
  line-height: 1.4em;
  width: 100%;
  text-shadow: none;
}
/* line 50, ../sass/_page.sass */
table th {
  text-align: center;
  padding: 2px 6px;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: bold;
  color: #fff;
  background: #cc6600;
  border-left: #ffcc66 double 4px;
}
/* line 59, ../sass/_page.sass */
table td {
  padding: 6px 12px;
  color: #663300;
  font-weight: 800;
  text-align: center;
  border-left: #ce7319 double 4px;
}
/* line 65, ../sass/_page.sass */
table td:nth-child(2) {
  height: 60px;
  width: 80px;
}
/* line 68, ../sass/_page.sass */
table th:nth-child(1), table td:nth-child(1) {
  border: none;
}
/* line 70, ../sass/_page.sass */
table tr:nth-child(odd) {
  background: #ffffc4;
}
/* line 72, ../sass/_page.sass */
table tr:nth-child(even) {
  background: #ffcc66;
}

/* line 74, ../sass/_page.sass */
.class1 td {
  font-size: 1.2em;
}

/* line 78, ../sass/_page.sass */
ul {
  padding: 0 0 0 0.5em;
}
/* line 80, ../sass/_page.sass */
ul li {
  margin-left: 18px;
  display: list-item;
  list-style: disc;
  list-style-type: decimal;
}
/* line 85, ../sass/_page.sass */
ul li a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #ce7319;
  color: #fff;
  padding: 0 10px;
}
/* line 64, ../sass/_mixin.sass */
ul li a:hover {
  background: #ff9933;
  color: #663300;
}

/* line 87, ../sass/_page.sass */
.jo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #ce7319;
  color: #fff;
  padding: 0 10px;
}
/* line 64, ../sass/_mixin.sass */
.jo:hover {
  background: #ff9933;
  color: #663300;
}

/* line 90, ../sass/_page.sass */
.pict-d2 {
  margin-left: 12px;
}

/* line 93, ../sass/_page.sass */
.nav2 {
  position: absolute;
  left: 50%;
  right: 50%;
}
/* line 96, ../sass/_page.sass */
.nav2 a {
  cursor: pointer;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  float: left;
}
/* line 55, ../sass/_mixin.sass */
.nav2 a:hover {
  -webkit-animation-name: gelatine;
  animation-name: gelatine;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}
/* line 98, ../sass/_page.sass */
.nav2 a div {
  margin: 30px 0 0 43px;
}
/* line 101, ../sass/_page.sass */
.nav2 .pict-b {
  margin: 10px 0 0 -123px;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes gelatine {
  from, to {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -moz-transform: scale(0.9, 1.1);
    -ms-transform: scale(0.9, 1.1);
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -moz-transform: scale(1.1, 0.9);
    -ms-transform: scale(1.1, 0.9);
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -moz-transform: scale(0.95, 1.05);
    -ms-transform: scale(0.95, 1.05);
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}
@-webkit-keyframes UDUD {
  0% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes UDUD {
  0% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@-webkit-keyframes LRLR {
  0% {
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  50% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes LRLR {
  0% {
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  50% {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
