html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.hdbtn a, .btngroup_b a {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-sprite, .btn-a1, .btn-a2, .btn-b1, .btn-b2, .btn-b3, .btn-b4, .btn-b5, .btn-b6 {
  background-image: url('../images/btn-s80cbd618df.png');
  background-repeat: no-repeat;
}

.btn-a1 {
  background-position: 0 0;
  height: 121px;
  width: 450px;
}
.btn-a1:hover, .btn-a1.a1-hover {
  background-position: 0 -121px;
}

.btn-a2 {
  background-position: 0 -242px;
  height: 121px;
  width: 450px;
}
.btn-a2:hover, .btn-a2.a2-hover {
  background-position: 0 -363px;
}

.btn-b1 {
  background-position: 0 -484px;
  height: 59px;
  width: 332px;
}
.btn-b1:hover, .btn-b1.b1-hover {
  background-position: 0 -543px;
}

.btn-b2 {
  background-position: 0 -602px;
  height: 59px;
  width: 332px;
}
.btn-b2:hover, .btn-b2.b2-hover {
  background-position: 0 -661px;
}

.btn-b3 {
  background-position: 0 -720px;
  height: 59px;
  width: 332px;
}
.btn-b3:hover, .btn-b3.b3-hover {
  background-position: 0 -779px;
}

.btn-b4 {
  background-position: 0 -838px;
  height: 59px;
  width: 332px;
}
.btn-b4:hover, .btn-b4.b4-hover {
  background-position: 0 -897px;
}

.btn-b5 {
  background-position: 0 -956px;
  height: 59px;
  width: 332px;
}
.btn-b5:hover, .btn-b5.b5-hover {
  background-position: 0 -1015px;
}

.btn-b6 {
  background-position: 0 -1074px;
  height: 59px;
  width: 332px;
}
.btn-b6:hover, .btn-b6.b6-hover {
  background-position: 0 -1133px;
}

html, body {
  height: 100%;
}

body {
  font-family: "Microsoft YaHei", "Arial", Verdana, Geneva, "Noto Sans TC", sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
  background: #000;
}

.wrap {
  margin: 0 auto -61px;
  background: #000;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #000;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 100;
}
header a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.hdlogo {
  float: left;
  height: 91px;
}

.hdlink {
  float: left;
  margin-top: 57px;
  margin-left: -12px;
}

.hdnav {
  float: right;
  margin: 25px 0;
}

.hdbtn {
  float: left;
  margin-left: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hdbtn img {
  vertical-align: middle;
  margin-right: 10px;
}
.hdbtn:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btngroup_b {
  z-index: 100;
  left: 50%;
  margin-left: -50%;
  background: #000;
  height: 163px;
  width: 100%;
}
.btngroup_b.float1 {
  position: fixed;
  bottom: 0;
}
.btngroup_b.float0 {
  position: absolute;
  top: 990px;
}

.btn-a1 {
  position: absolute;
  top: 20px;
}

.btn-a2 {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: 60px;
}

.fb_iframe_widget {
  position: absolute !important;
}

.fb-like {
  top: 120px;
  left: 50%;
  margin-left: 450px;
  z-index: 80;
}

.topbtn {
  background: url("../images/topbtn.png") center no-repeat;
  width: 76.8px;
  height: 76.8px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  position: fixed;
  z-index: 105;
  bottom: 163px;
  right: 10%;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 114, 10, 0.5);
}

::-webkit-scrollbar-button {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: #ff720a;
}

/**foo* */
footer {
  position: relative;
  background: #000;
  font-size: 12px;
  padding: 15px 0;
  height: 60px;
  color: #fff;
  text-align: left;
  z-index: 105;
}
footer span {
  margin-top: 2px;
  display: block;
  line-height: 20px;
}

.footer-logo1 {
  float: left;
  width: 83px;
  margin: 10px;
  margin-left: 350px;
  padding-bottom: 10px;
}

.footer-logo2 {
  float: left;
  width: 95px;
  margin: 12px;
  margin-right: 30px;
  padding-bottom: 0px;
}

.top {
  height: 1200px;
  overflow: hidden;
  position: relative;
  background: url("../images/bg.jpg") center -50px no-repeat;
}

.page {
  overflow: hidden;
  position: relative;
  display: none;
  background: url("../images/page.jpg") center top no-repeat;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
}

/**p0* */
.chara {
  background: url("../images/chara.png") center no-repeat;
  width: 1920px;
  height: 1100px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  margin-top: -50px;
  z-index: 40;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.slogan1, .slogan2 {
  left: 50%;
  position: absolute;
  z-index: 40;
}

.slogan1 {
  background: url("../images/slogan.png") center no-repeat;
  width: 810px;
  height: 442px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin-top: 410px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.slogan2 {
  background: url("../images/slogan.png") center no-repeat;
  width: 567px;
  height: 309.4px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin-top: 130px;
  margin-left: -283px;
  cursor: pointer;
}

.nav {
  width: 1070px;
  position: absolute;
  left: 50%;
  margin-left: -535px;
  z-index: 40;
}

.nav1 {
  margin-top: 830px;
}

.nav2 {
  margin-top: 460px;
}

.btn-b1 {
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn-b1.active {
  background-position-y: -543px;
}

.btn-b2 {
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn-b2.active {
  background-position-y: -661px;
}

.btn-b3 {
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn-b3.active {
  background-position-y: -779px;
}

.btn-b4 {
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn-b4.active {
  background-position-y: -897px;
}

.btn-b5 {
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn-b5.active {
  background-position-y: -1015px;
}

.btn-b6 {
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.btn-b6.active {
  background-position-y: -1133px;
}

.title1 {
  background: url("../images/title1.png") center no-repeat;
  width: 722px;
  height: 136px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title2 {
  background: url("../images/title2.png") center no-repeat;
  width: 722px;
  height: 80px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title3 {
  background: url("../images/title3.png") center no-repeat;
  width: 722px;
  height: 80px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title4 {
  background: url("../images/title4.png") center no-repeat;
  width: 722px;
  height: 80px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title5 {
  background: url("../images/title5.png") center no-repeat;
  width: 722px;
  height: 80px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title6 {
  background: url("../images/title6.png") center no-repeat;
  width: 722px;
  height: 80px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title7 {
  background: url("../images/title7.png") center no-repeat;
  width: 722px;
  height: 80px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title8 {
  background: url("../images/title8.png") center no-repeat;
  width: 722px;
  height: 80px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title9 {
  background: url("../images/title9.png") center no-repeat;
  width: 722px;
  height: 80px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title10 {
  background: url("../images/title10.png") center no-repeat;
  width: 722px;
  height: 80px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title11 {
  background: url("../images/title11.png") center no-repeat;
  width: 722px;
  height: 136px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title12 {
  background: url("../images/title12.png") center no-repeat;
  width: 722px;
  height: 136px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title13 {
  background: url("../images/title13.png") center no-repeat;
  width: 722px;
  height: 136px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title14 {
  background: url("../images/title14.png") center no-repeat;
  width: 722px;
  height: 136px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title15 {
  background: url("../images/title15.png") center no-repeat;
  width: 722px;
  height: 136px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

.title16 {
  background: url("../images/title16.png") center no-repeat;
  width: 722px;
  height: 80px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 80px auto 20px auto;
}

/**p1* */
.cont {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  margin-top: 660px;
  padding: 0 100px 200px 100px;
  z-index: 25;
  line-height: 1.5em;
  font-size: 18px;
  z-index: 90;
  color: #fff;
  display: none;
}
.cont h3 {
  color: #f1e47a;
  font-size: 22px;
  font-weight: bold;
  line-height: 2em;
  margin-left: -1em;
}
.cont .red {
  color: #ff720a;
}
.cont ol {
  margin-left: 1.5em;
}
.cont li {
  list-style-type: decimal;
  text-align: left;
}
.cont img {
  display: block;
  max-width: 600px;
  height: auto;
  margin: 10px auto;
}
.cont table {
  border: 1px solid #f1e47a;
  border-collapse: collapse;
  margin: 5px auto;
  width: 80%;
  table-layout: fixed;
}
.cont table th {
  border: 1px solid #f1e47a;
  background: rgba(241, 228, 122, 0.9);
  padding: 8px;
  color: #000;
  text-align: center;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.8) 0 0 0;
}
.cont table td {
  border: 1px solid #fff;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

/**************index/ */
@media only screen and (min-width: 1300px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1299px) {
  body {
    font-size: 12px;
  }
}

.btn-a1 {
  left: 50%;
}
@media only screen and (min-width: 1300px) {
  .btn-a1 {
    margin-left: -500px;
  }
}
@media only screen and (max-width: 1299px) {
  .btn-a1 {
    margin-left: -225px;
  }
}

@media only screen and (max-width: 1299px) {
  .btn-a2 {
    display: none;
  }
}

.chara {
  left: 50%;
}
@media only screen and (max-width: 1299px) {
  .chara {
    margin-left: -380px;
  }
}

.slogan1 {
  left: 50%;
}
@media only screen and (min-width: 1300px) {
  .slogan1 {
    margin-left: 580px;
  }
}
@media only screen and (max-width: 1299px) {
  .slogan1 {
    margin-left: 250px;
  }
}
