/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.sass */
html, body {
  height: 100%;
}

/* line 10, ../sass/screen.sass */
body {
  font-family: "Microsoft YaHei", "Arial", "myFont", "Microsoft JhengHei", "PMingLiU", "AppleGothic", "Dotum", "Lucida Grande", "Verdana Sans-serif";
  letter-spacing: 1px;
  overflow-x: hidden;
  background: #000;
}

/* line 17, ../sass/screen.sass */
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -61px;
  padding: 0 0 60px;
  overflow: hidden;
  background: url("images/bg.jpg") top no-repeat;
}

/* line 25, ../sass/screen.sass */
header {
  padding-top: 20px;
  height: 650px;
}

/* line 28, ../sass/screen.sass */
.logo {
  background: url("images/logo.png") center no-repeat;
  width: 256px;
  height: 153px;
  margin-left: 90px;
}
/* line 33, ../sass/screen.sass */
.logo:hover {
  background: url("images/logo_hover.png") center no-repeat;
}

/* line 72, icon/*.png */
.icon-sprite, .icon-cclogo, .icon-class12, .icon-ddlogo, .icon-malogo {
  background-image: url('../css/images/icon-sb67120071a.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cclogo {
  background-position: 0 0;
  height: 48px;
  width: 77px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-class12 {
  background-position: 0 -48px;
  height: 48px;
  width: 48px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-ddlogo {
  background-position: 0 -96px;
  height: 48px;
  width: 118px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-malogo {
  background-position: 0 -144px;
  height: 48px;
  width: 142px;
}

/* line 88, gift/*.png */
.gift-sprite, .gift-a, .gift-b, .gift-c, .gift-d, .gift-e, .gift-f {
  background-image: url('../css/images/gift-se177c08ec0.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.gift-a {
  background-position: 0 0;
  height: 54px;
  width: 54px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.gift-b {
  background-position: 0 -54px;
  height: 54px;
  width: 54px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.gift-c {
  background-position: 0 -108px;
  height: 54px;
  width: 54px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.gift-d {
  background-position: 0 -162px;
  height: 54px;
  width: 54px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.gift-e {
  background-position: 0 -216px;
  height: 54px;
  width: 54px;
}

/* line 84, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.gift-f {
  background-position: 0 -270px;
  height: 54px;
  width: 54px;
}

/* line 46, ../sass/screen.sass */
.content section {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTVhYyIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmU1YWMiIHN0b3Atb3BhY2l0eT0iMC44Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 229, 172, 0.4)), color-stop(100%, rgba(255, 229, 172, 0.8)));
  background-image: -moz-linear-gradient(top, rgba(255, 229, 172, 0.4) 0%, rgba(255, 229, 172, 0.8) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 229, 172, 0.4) 0%, rgba(255, 229, 172, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 229, 172, 0.4) 0%, rgba(255, 229, 172, 0.8) 100%);
  border: #fff solid 5px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.7em;
  color: #111;
  text-shadow: rgba(255, 255, 255, 0.4) 2px 2px 1px;
}
/* line 59, ../sass/screen.sass */
.content ol {
  counter-reset: li;
  margin-left: 2em;
}
/* line 62, ../sass/screen.sass */
.content li {
  counter-increment: li;
}
/* line 64, ../sass/screen.sass */
.content li::before {
  content: counter(li) ".";
  width: 1em;
  margin-left: -1em;
}
/* line 68, ../sass/screen.sass */
.content .small {
  color: #7c0000;
  margin-left: 1em;
}

/* line 73, ../sass/screen.sass */
table th {
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  color: #ffe5ac;
  font-weight: bold;
}
/* line 81, ../sass/screen.sass */
table tr td {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 1px;
}
/* line 87, ../sass/screen.sass */
table tr td:first-of-type {
  width: 180px;
  text-align: center;
  vertical-align: middle;
}
/* line 91, ../sass/screen.sass */
table tr td:nth-of-type(2), table tr td:nth-of-type(3) {
  vertical-align: middle;
}
/* line 93, ../sass/screen.sass */
table tr td:last-of-type {
  width: 55%;
  vertical-align: middle;
}
/* line 97, ../sass/screen.sass */
table tr:nth-of-type(2n+1) td {
  background: rgba(255, 255, 255, 0.2);
}

/* line 101, ../sass/screen.sass */
.tit0 {
  background: url("images/tit0.png") center no-repeat;
  width: 651px;
  height: 49px;
  margin-bottom: 5px;
}

/* line 101, ../sass/screen.sass */
.tit1 {
  background: url("images/tit1.png") center no-repeat;
  width: 168px;
  height: 48px;
  margin-bottom: 5px;
}

/* line 101, ../sass/screen.sass */
.tit2 {
  background: url("images/tit2.png") center no-repeat;
  width: 169px;
  height: 48px;
  margin-bottom: 5px;
}

/* line 107, ../sass/screen.sass */
footer {
  height: 100px;
  padding: 30px 0;
  background: #000;
  color: #fff;
  font-size: 12px;
  line-height: 1.5em;
}

/* line 115, ../sass/screen.sass */
.icon-class12 {
  margin-top: 5px;
  margin-right: 15px;
}
